.st0:hover{
    fill: url(./../4.png);
}

html    {
    height: 200vh;
}
body    {
    height: 100%;
    width: 100%;
}
svg {
    
    height: 100%;
    width: 100%;
}
text{
    z-index: 999;
}
.container  {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
.img    {
    height: 400px;
    width: 400px;
}
img {
    margin-top: 120vh;
    height: 100%;
}
.polygon-clip-triangle-isoceles {
    -webkit-clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%);
    clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%);
    -webkit-clip-path: url("#polygon-clip-triangle-isoceles");
    clip-path: url("#polygon-clip-triangle-isoceles");
}